@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 36 19% 95%;
    --foreground: 145 31% 20%;

    --card: 36 19% 95%;
    --card-foreground: 145 31% 20%;

    --popover: 36 19% 95%;
    --popover-foreground: 145 31% 20%;

    --primary: 145 31% 20%;
    --primary-foreground: 36 19% 95%;

    --secondary: 36 19% 95%;
    --secondary-foreground: 145 31% 20%;

    --muted: 36 19% 92%;
    --muted-foreground: 145 20% 40%;

    --accent: 22 75% 47%;
    --accent-foreground: 36 19% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 36 19% 95%;

    --border: 36 19% 88%;
    --input: 36 19% 88%;
    --ring: 145 31% 20%;

    --radius: 0.5rem;

    --sidebar-background: 36 19% 95%;
    --sidebar-foreground: 145 31% 20%;
    --sidebar-primary: 145 31% 20%;
    --sidebar-primary-foreground: 36 19% 95%;
    --sidebar-accent: 22 75% 47%;
    --sidebar-accent-foreground: 36 19% 95%;
    --sidebar-border: 36 19% 88%;
    --sidebar-ring: 145 31% 20%;
  }

  .dark {
    --background: 145 31% 12%;
    --foreground: 36 19% 95%;

    --card: 145 31% 15%;
    --card-foreground: 36 19% 95%;

    --popover: 145 31% 15%;
    --popover-foreground: 36 19% 95%;

    --primary: 36 19% 95%;
    --primary-foreground: 145 31% 12%;

    --secondary: 145 31% 18%;
    --secondary-foreground: 36 19% 95%;

    --muted: 145 31% 18%;
    --muted-foreground: 36 15% 70%;

    --accent: 22 75% 47%;
    --accent-foreground: 36 19% 95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 36 19% 95%;

    --border: 145 31% 18%;
    --input: 145 31% 18%;
    --ring: 36 19% 95%;
    --sidebar-background: 145 31% 12%;
    --sidebar-foreground: 36 19% 95%;
    --sidebar-primary: 36 19% 95%;
    --sidebar-primary-foreground: 145 31% 12%;
    --sidebar-accent: 22 75% 47%;
    --sidebar-accent-foreground: 36 19% 95%;
    --sidebar-border: 145 31% 18%;
    --sidebar-ring: 36 19% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
